{% extends 'base.html' %}

{% block title %}FAQ{% endblock %}

{% block faq_menu %} class="active"{%endblock%}

{% block content %}

<div>

<h2>Operation Dragonslayer - FAQ</h2>

<h3>What is Operation Dragonslayer?</h3>
It is a code name for an attack on the Bitcoin network.

<h3>Why is Bitcoin being pumped?</h3>
To achieve the best result once the price drops.
The aim is to make bitcoin mining as difficult as possible, so that when the attack happens,
and many miners choose to mine Bitcoin Cash, Bitcoin is crippled for 2 weeks.

<h3>How is the pumping of Bitcoin achieved?</h3>
By selling BCH/Tether and buying BTC.

<h3>Why is the Bitcoin Mempool being flooded?</h3>
To push required transaction fees higher. The ones that profit the most from this are the miners.

<h3>What can I do?</h3>
Wait for the things to stabilize, do not put too much money on exchanges, buy your chosen coins when they are cheap and HODL.

</div>

<br><br>

{% endblock %}
